# Ignore project-specific settings
.idea/
*.iml
local.properties

# Gradle
.gradle/
build/
app/build/

# Native build folders
.externalNativeBuild/
.cxx/

# macOS main
.DS_Store

# Logs
*.log

# Android Studio captures
captures/
